body{
    margin: 0;
    padding: 0;
    /*border: dotted 3px rgb(218, 177, 177);*/
    background-color:rgb(165, 112, 211);
    background:url(../images/fondo.jpg) no-repeat center top;
    background-size: cover; 
    height: 100vh;
}
h1{
    color: cornsilk;
    text-shadow: 2px 2px 5px rgb(221, 203, 203);

}
h6{
    color: rgb(214, 196, 202);
}
#videoPlay{
    background-color: rgb(107, 109, 109,.5);
    border: dotted 1px rgb(218, 177, 177);
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
#titulo{
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
    border: dotted 1px rgb(218, 177, 177);
    background-color: rgba(91, 12, 196, 0.5);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

iframe{
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
@media(max-width:900px){
    iframe{
        width: auto;
        height: auto;
    }
}